.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    gap: 20px;
}

.card {
    background-color: #dedfde;
    box-shadow: 0px 11px 0px 0px #126606, inset 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    color: var(--medium-green);
    width: 250px;
    margin: 10px;
}

.quiz-image {
    width: 25%;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card-header,
.card-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    padding: 20px;
}

.title {
    color: var(--medium-green);
    text-align: center;
}

.date, .number {
    font-size: 0.9em;
    color: var(--medium-green);
}

.edit-link, .play-link, .delete-link {
    color: black;
}


.card:hover {
    background-color: #d3d3d3;
    transition: background-color 0.2s;
    transform: scale(1.05);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
}

.pagination a {
    display: inline-flex; /* Changed from flex to inline-flex */
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dedfde;
    color: var(--medium-green);
    margin: 0 5px;
    text-decoration: none; /* Optional, to remove underline from links */
}

.pagination a:hover {
    background-color: var(--medium-green);
    color: #FFF;
    transition: background-color 0.2s;
}

.pagination span.current {
    background-color: var(--medium-green);
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    text-decoration: none; /* Optional, to remove underline from links */
    display: inline-flex; /* Changed from flex to inline-flex */
    justify-content: center;
    align-items: center;

}