.form {
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: #cccccc;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.container {
    width: 25%; /* You can adjust the width as needed */
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
}

h1, p {
    margin: 2.5px 0;
}
h2{
    font-size: 40px;
    color: #1f5f1f;
}
form {
    margin-bottom: 10px;
}

label {
    display: block;
    text-align: left;
    margin: 5px 0 5px 0;
    font-size: 20px;
}

input[type=text], input[type=password], input[type=email] {
    width: calc(100% - 11px);
    padding: 5px;
    margin-bottom: 5px;
    border: 0.5px solid #ddd;
    border-radius: 2px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 2px;
    width: 98%;
}

.supr{
    background-color: #af4c4c; /* Green */
    border: none;
    color: white;
    padding: 12.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 2px;
    width: 98%;
}


/* Additional styles specific to this template */
/* Add here */