{% extends "layout.html.twig" %}

{% block title %}{% trans %}Création{% endtrans %}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset("css/create.css") }}">{% endblock %}

{% block main %}

    <h2>{% trans %}Création{% endtrans %}</h2>

{% endblock %}