{% extends "layout.html.twig" %}

{% block title %}{% trans %}Création{% endtrans %}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset("css/create.css") }}">{% endblock %}

{% block main %}
    <div class="formulaire">
        <h2>{% trans %}Choisir le titre du quiz{% endtrans %}</h2>

        {{ form_start(quizForm) }}
        {{ form_widget(quizForm) }}

        <input type="submit" value={% trans %}"Confirmer"{% endtrans %}>

        {{ form_end(quizForm) }}
    </div>
    </div>


{% endblock %}