<!DOCTYPE html>

<title>New Quiz</title>

{% block body %}
    <h1>Create new Quiz</h1>

    {{ include('quiz_crud/_form.html.twig') }}

    <a href="{{ path('app_quiz_c_r_u_d_index') }}">back to list</a>
{% endblock %}
