{% extends "layout.html.twig" %}

{% block title %}Rejoindre{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset("css/join.css") }}">{% endblock %}

{% block main %}

    <h2>{% trans %}Rejoindre{% endtrans %}</h2>

{% endblock %}